<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>The Happening</title>
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.1.1.js"></script>
		<script src="js/bgStretch.js"></script>
		
		<script>
			$(document).ready(function(){
			$('#bgStretch')
				.bgStretch({
					align:'leftTop'
				})
			});
		</script>
	</head>
	<body class="">
		<div id="bgStretch"><img src="images/bg_body.jpg" alt=""></div>
<!--==============================header=================================-->
		<header> 		
			<div class="menu_block">
				<div class="container_12">
					<div class="grid_12"> 
						<nav class="" >
							<ul class="sf-menu">
								<li><a href="index-1.html">The Happening</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</header>
<!--=======content================================-->
		<div class="content_wrapper"><div class="ic"></div>
			<div class="container_12">
				<div class="grid_9">
					<div class="content">
						<div class="grid_5 alpha">
							<div class="block1">
								
								<div class="">
									<h3>Most Happening Restaurants in San Jose</h3>
									<br/>
									<form name="happening" action="/happeningList" method="post">
									<% if(happeningData != null && happeningData.length > 0) {
              
				                    	for(var i=0;i<happeningData.length;i++) {
				                    	//console.log(movies[i].movie_id);
				                    %>
									<table>
									<tbody>

									<tr>
										
									</tr>
									<br/><br/>
									
									<tr><td/></tr>
									<tr>
									<td><label for="place">Place (County Name): </label> </td>
									<td><input id="place" maxlength="45" name="place" type="text" /> </td>
									</tr>
									<tr><td><input name="Submit" type="submit" value="Submit" /></td> </tr></tbody>
									</table>
									<% } } else {%>
									<p> No Records found for the Category in the given Location... </p>
									<%}%>
									</form>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						
						<div class="clear"></div>
						
					</div>
				</div>
				
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			
		</footer>
	</body>
</html>